* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #b3b3b3;
  min-height: 65px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

header img {
  height: 60px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

nav a:hover,
nav a:focus-visible {
  text-decoration: underline;
}

.menu-lista i {
  margin-right: 8px;
}